{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block scripts %}

<!-- скрипты -->

{% endblock %}
{% block content %}


<body>
        <div class="body">
                <!-- -------------- header ------------------ -->

                <div class="header">
                        <div class="header__logo">Ахалаi-махалаi</div>
                        <div class="header__nav nav">
                                <div class="header__nav-link"><a href="/">Кейс</a></div>
                                <div class="header__nav-link "><a href="/">О нас</a></div>
                        </div>
                        <div class="header__social">
                                <div class="header__social_link"><a href="https://github.com/UdalovPS/h_08_09_2023"><i class="fa-brands fa-github"></i></a>
                                 </div>
                        </div>
                </div>

                <!-- -------------- main ------------------ -->
                <div class="main">
                        <div class="left">
                                <div class="case">
                                        <h2>Кейс:</h2>
                                        <br>
                                        <p >На видеохостинге RUTUBE большую долю занимают видео, снятые пользователями в непрофессиональных условиях (например с камер телефона или видеорегистраторов). В качестве улучшения пользовательского опыта потребителей такого любительского контента предлагается разработать модель, на основе искусственного интеллекта, которая будет улучшать качество таких видео. Сложность задачи заключается во множестве аспектов качества видео (само изначальное качество 240p или 360p, различные шумы, лишние эффекты и прочее), а также в скорости работы алгоритма. Автоматизированное улучшение качества видео увеличит привлекательность платформы RUTUBE и общую удовлетворенность от ее использования как для потребителей контента, так и для авторов.
                                        </p>
                                        <br>
                                        <br>
                                </div>
        
                        <!-- ----------- file ----------- -->
                                <div class="form">
                                        <form id="upload-file" class="">
                                                <h3>Выберите видео-файл</h3>
                                                <!-- <input class="form-control form-control-lg mt-3" name="fileToUpload" id="fileToUpload" type="file" > -->
                                                <input class="hidden" name="fileToUpload" id="fileToUpload" type="file" >
                                                <button type="submit" id = "file-choose-button" class=" btn btn-light form-control-sm mt-3">Выбрать файл</button>
                                                <span id="fileName">Файл не выбран</span><br>
                                                <button type="submit" id = "file-send-button"class="btn btn-success btn-lg mt-3">Отправить</button>

                                        </form>
                                </div>
                
                
                        </div>

                        <div class="right">   
                        </div>

                            <!-- -------------- output ----------- -->
                <div id="output" class="invisible">
                        <div class="output-left">

                        </div>
                        <div class="output-right">
                                
                        </div>
                          
                </div>
                        
                       
                </div>
              


        </div>
        
     
        

        <script src='static/form.js'></script>

</body>

{% endblock %}